# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/modules.xml
/.idea.jcinterview.iml
/projectSettingsUpdater.xml
/contentModel.xml
# Datasource local storage ignored files
/../../../../../../../:\Proyectos\JamCity\jcinterview\.idea\.idea.jcinterview\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
